<template name="about">
<body>
	<div id="about-page">
    <div class="overlay">
      <div class="steps">
         <div class="step-one">
           <h2 class="step-title">You ask</h2>
           <img src="/img/ask.png" alt="ask.png" width="300"><img>
           <div class="step-description">
             <h5>Ask us anything, with the option of making your questions anonymous 
               and/or private if they contain sensitive information. </h5>
           </div>
         </div>
         <div class="step-two">
           <h2 class="step-title">We answer</h2>
           <img src="/img/answer.png" alt="answer.png" width="300"><img>
           <div class="step-description">
             <h5>Our simple but effective verification system ensures that only users with a 
               verified Ivy League college email account can post answers.</h5>
           </div>
         </div>
         <div class="step-three">
           <h2 class="step-title">Get notified</h2>
           <img src="/img/notify.png" alt="notify.png" width="300"><img>
           <div class="step-description">
             <h5>We'll notify you every time you receive an answer.
               Answered questions will appear in the public question feed, unless you made it private.</h5>
           </div>
         </div>
      </div>
      <div class="call-to-action">
        <a class="sign-up" href="/sign-up">Start asking now!</a>
      </div>
    </div>
	</div> 
  </body>
</template>