<template name="layout">
			<div class="navbar">
				<div id="navbar-inner">
						<ul id="toolbar-links" class="navbar-pull">
              				<li>
							  <a id="logo" href="/"><i class="fa fa-comments-o"></i>ask<span>Ivy</span></a>
							</li>
							<li>
								<ul id="mainmenu" class="nav">						
									<li>
										<a id="link-main" href="/homepage">Home</a>
									</li>
									{{#if harvardStudent}}
									<li>
										<a id="link-unanswered" href="/unanswered">Unanswered</a>
									</li>
									{{/if}}
									{{#if currentUser}}
									<li>
										<a id="link-myquestions" href="/myquestions">My Questions</a>
									</li>
                  <li>
                    <a id="link-myquestions" href="/profile">Profile</a>
                  </li>
					        <li class="dropdown">
					          {{> notifications}}
					        </li>
									{{else}}
                  <li>
										<a id="link-register" href="/sign-up">Sign Up</a>
									</li>
                  {{/if}}
									<li>
										<div class="link-login">{{> atNavButton}}</div>
                  </li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
	{{>yield}}
 </template>