<template name="mainpage">
<body>
	<div id="page">
		<a name="about"></a>
    <div class="page-padding">
      <div class="header-text">
      <h2>Want to know anything about college admissions?</h2>
      <h1>Just Ask.</h1>
      <h5><br/>We're the only Q<span>&amp;</span>A platform in the world exclusively <br/> run by current Ivy League undergraduates</h5>
      </div>
      <div class="main-buttons">
        <a class="sign-up" href="/sign-up">Ask now</a>
        <a class="learn" href="/about">Learn more</a>
      </div>
    </div>
	</div> <!--END page1-->
  </body>
</template>