<template name="mainpage">
<body>
	<div id="page1">
		<a name="about"></a>
    <div class="page-padding"></div>
	</div> <!--END page1-->
	
	<div id="page2">
		<a name="portfolio"></a>
		<div class="page-padding"></div>
		<p>More info about site</p>
	</div> <!--END page2-->

	<div id="page3">
		<a name="contact"></a> 
		<div class="page-padding"></div>
		<p>Contact info</p>
	</div> <!--END page3-->
  </body>
</template>


<!--
<body class="page-main">
	    <div class="root">
	        <div class="page-in-root">
	            <div class="main">
	                <div id="main-bg"></div>
	                <div class="wrap">
	                    <div class="content">
	                        <a class="access-homepage" href="/sign-up">Sign Up<i></i></a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>
-->