<template name="profile">
  <div id="profile-background"></div>
    <div class="profile-display">
      <h1>{{username}}</h1>
      <h5><b>{{school}}</b></h5>
      <h5><b><br />Intended degree and major:</b> {{major}}</h5>
      <h5><b>SAT I scores:</b> {{satone}}</h5>
      <h5><b>SAT subject test scores:</b> {{sattwo}}</h5>
      <h5><b>Admitted to:</b> {{admitted}}</h5>
      <br />
      {{#if ownProfile}}
      <a class="btn btn-primary" href="/profile/edit"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit your profile</a>
      {{/if}}
  </div>
</template>

<template name="profileInsert">
  <div id="profile-background"></div>
  {{#autoForm doc=this collection="Profiles" id="profileInsert" type="insert"}}
    <fieldset class="profile-form">
      <div class="profile-title">Make a Profile</div>
      {{> afQuickField name='_id'}}
      {{> afQuickField name='username'}}
      {{> afQuickField name='school'}}
       {{> afQuickField name='year'}}
      {{> afQuickField name='major'}}
      {{> afQuickField name='satone'}}
      {{> afQuickField name='sattwo'}}
      {{> afQuickField name='admitted'}}
      <button type="submit" class="profile-submit btn-primary">Submit</button>
    </fieldset>
  {{/autoForm}}
</template>

<template name="profileEdit">
  <div id="profile-background"></div>
  {{#autoForm doc=this collection="Profiles" id="profileEdit" type="update"}}
    <fieldset class="profile-form">
      <div class="profile-title">Edit Your Profile</div>
      {{> afQuickField name='username'}}
      {{> afQuickField name='school'}}
       {{> afQuickField name='year'}}
      {{> afQuickField name='major'}}
      {{> afQuickField name='satone'}}
      {{> afQuickField name='sattwo'}}
      {{> afQuickField name='admitted'}}
      <button type="submit" class="profile-submit btn-primary">Submit</button>
    </fieldset>
  {{/autoForm}}
</template>

<template name="noProfile">
  <div id="profile-background">
    <div class="profile-display">
      <h1>You don't have <br /> a profile yet!</h1>
      <br />
      <a class="btn btn-primary" href="/profile/create"><i class="fa fa-plus"></i>&nbsp;Create profile</a>
    </div>
  </div>
</template>