<template name="profileInsert">
  {{#autoForm doc=userData collection="Profiles" id="insertProfile" type="insert"}}
    <fieldset class="profile-box">
      <div class="profile-title">Make a Profile</div>
      {{> afQuickField name='_id'}}
      {{> afQuickField name='username'}}
      {{> afQuickField name='school'}}
      {{> afQuickField name='satone'}}
      {{> afQuickField name='admitted'}}
      {{> afQuickField name='major'}}
      <button type="submit" class="profile-submit btn-primary">Submit</button>
    </fieldset>
  {{/autoForm}}
</template>