<template name="question">
  <li class="question-cascade">
    <div id="upper-part">
	    {{#if deletable}}<button class="delete">&times;</button>{{/if}}
	    <span class="signature">
        <strong>{{username}}{{#if harvardStudent}}<span class="verified-question">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{/if}}</strong>
      </span>
      <span class="date">{{#if harvardStudent}}Harvard Verified{{/if}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Posted on {{timestamp}}</span>
    </div>
    <br>
    <div id="middle-part">
      <span class="text">{{text}}</span>    
    </div>
    <br>
    <div  id="answer-link">
      <a class="answers-button" href="{{pathFor 'answerpage'}}">{{commentsCount}} answers</a>
      {{#if ownPost}}<a class="answers-button" href="{{pathFor 'questionEdit'}}">Edit</a>{{/if}}
    </div>
  </li>
</template>
