<template name="question">
  <li class="question-cascade">
    <div id="upper-part">
      {{#if ownQuestion}}<a class="edit" href="{{pathFor 'questionEdit'}}"><i class="fa fa-pencil-square-o"></i></a>{{/if}}
	    <span class="signature">
        <strong>{{username}}{{#if harvardStudent}}<i class="fa fa-check-square"></i>{{/if}}</strong>
      </span>
      <span class="date">
        {{#if harvardStudent}}Harvard Verified{{/if}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Posted on {{timestamp}}&nbsp;&nbsp;&nbsp;
        {{#if private}}<strong>Private</strong>{{/if}}
      </span>
    </div>
    <br>
    <div id="middle-part">
      <span class="text">{{text}}</span>    
    </div>
    <br>
    <div  id="answer-link">
      <a class="answers-button" href="{{pathFor 'answerpage'}}">{{commentsCount}} answers</a>
    </div>
  </li>
</template>
