<template name="questionsPage">
  {{#if harvardStudent}}
  <body>
    <div id="page-outer">
      <div id="page-container" class="content-wrapper">
        <div class="question-container"> <!-- stream-container -->
          <div class="question-stream"> <!-- stream home-stream -->
            <ul class="question-items"> <!-- stream-items -->
              {{#each questions}}
                {{> question}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="question-page"></div>
  </body>
  {{#if}}
</template>

