<template name="unanswered">
  {{#if isInRole 'ivy'}}
  <body>
    <div id="page-outer">
      <div id="page-container" class="content-wrapper">
            <ul class="question-items"> <!-- stream-items -->
              <li class="page-title">To be Answered</li>
              {{#each questions}}
                {{> question}}
              {{/each}}
              {{#if nextPath}}<a class="load-more" href="{{nextPath}}">Load more</a>{{/if}}
            </ul>
          </div>
        </div>
    <div id="question-page"></div>
  </body>
  {{/if}}
</template>

