<template name="unanswered">
  {{#if harvardStudent}}
  <body>
    <div id="page-outer">
      <div id="page-container" class="content-wrapper">
            <ul class="question-items"> <!-- stream-items -->
              {{#each questions}}
                {{> question}}
              {{/each}}
              {{#if nextPath}}      <a class="load-more" href="{{nextPath}}">Load more</a>    {{/if}}
            </ul>
          </div>
        </div>
    <div id="question-page"></div>
  </body>
  {{/if}}
</template>

