#about-page
{
  margin-top: -70px;
  height: 1000px;
  width: 100%;
  background: url("/img/john-harvard1.jpg");
  background-size: cover;
  position: fixed;
}

.overlay
{
  height: 1000px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

#about-heading
{
  color: hsl(0,0%,92%);
  font-size: 6em;
  text-align: center;
  position: relative;
  top: 10%;
}

.steps
{
  margin: auto;
  width: 85%;
  height: 500px;
  color: white;
  position: relative;
  top: 5%;
}

.step-one, .step-two, .step-three
{
  float: left;
  width: 33%;
  text-align: center;
}

.step-title
{
  font-family: "flood-std";
  margin-bottom: 30px;
}

.step-description
{
  margin: 35px 15px 0px; 
}

.call-to-action
{
  position: relative;
  top: 50px;
  width: 250px;
  margin: auto;
  text-align: center;
}

.call-to-action > a
{
  width: 100%;
  font-weight: 500;
}

