
/*styling for div that contains login form */

.login-box
{
  font-family: "fira-sans-2";
  font-weight: 700;
  position: absolute;
  width: 740px;
  left: 25%;
}
/* form title */
.at-title
{
  font-family: "flood-std";
  color: #3071A9;
}

/* submit form button */
.at-btn
{
  background: #66BD2B;
  color: white;
  font-weight: 700;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}

.at-btn:hover
{
  opacity: 0.85;
  background: #66BD2B;
  color: white;
}