/* background image of profile view page*/
#profile-background
{
  background: url("/img/ivy.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
}

/* profile box in profile view page */
.profile-display
{
  position: absolute;
  width: 750px;
  top: 55px;
  padding-left: 30px;
}
/* edit profile button in profile view page */
.profile-display > a
{
  font-family: "fira-sans-2";
  font-size: 1.25em;
  font-weight: 500;
  width: 170px;
  display: block;
  margin: auto;
}

/* box that contains profile insert and edit forms*/
.profile-form
{
  font-family: "fira-sans-2";
  font-weight: 500;
  position: absolute;
  top: 55px;
  padding-left: 50px;
  padding-bottom: 50px;
}
/* title of profile forms */
.profile-title
{
  font-family: "flood-std";
  text-align: center;
  font-size: 4em;
  padding-bottom: 30px;
  color: black;
}

.form-group
{
  width: 650px !important;
}
/* submit button of profile forms */
.profile-submit
{
  width: 650px;
  height: 40px;
  background: #66BD2B;
  color: white;
  font-weight: 600;
  font-size: 1.25em;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease 0s;
}

.profile-submit:hover
{
  opacity: 0.85;
  background: #66BD2B;
  color: white;
}

