/*position edit elements */
.edit-box
{
  position: absolute;
  margin-top: 70px;
  width: 650px;
  left: 25%;
}
/* form title */
.control-label
{
  font-family: "fira-sans-2";
  font-weight: 600;
  font-size: 1.5em;
}
/* form buttons */
.edit-box > a, #edit-answer-button
{
  font-family: "fira-sans-2";
  font-weight: 500;
}
