f/**
 * styles.css
 * Global CSS.
 */

/* Position and width for text and button wrap in Main page */
.wrap
{
  z-index: 10;
  position: relative;
  width: 880px;
  margin-top: 0%;
  height: 100%;
}

/* Sets properties of background picture in Home */
#question-page
{
  background: url("/img/harvard.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  background-repeat: no-repeat;
  z-index: 10;
  background-position: 50% 50%;
  overflow-x: hidden;
  background-size: cover;
}

/* Sets overflow properties in Home */
.homepage
{
overflow-x: hidden;
}

/* Sets width and height of Home page */
#page-outer
{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 950;
  overflow-x: hidden;
}

/* Sets the padding and position of the canvas that wraps all text boxes within Home */
.content-wrapper
{
  padding: 14px 15px;
  position: absolute;
  left: 21%;
}

/* Sets radius and position of question box */
.content-main
{
  float: left;
  margin: 0 10px;
  border-radius: 5px 5px 0 0;
  border-color: #BFE0EC !important;
  position: absolute;
  margin-left: 56px;
}

/* Sets border, color and overflow of whole question box */
.home-question-box
{
  border-color: #BFE0EC !important;
  padding: 10px 12px;
  background: #027EAF;
  border-radius: 6px 6px 0 0;
  position: absolute;
  overflow-x: hidden;
}

/* Sets font, margins and overflow in text area box */
.new-task .question-content
{
  position: relative;
  margin-bottom: 8px;
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow-x: hidden;
}

/* Sets format, position and size of text area in ask box */
#ask-box
{
  font-size: 14px;
  padding: 10px 6px;
  display: block;
  overflow-y: auto;
  word-wrap: break-word;
  border-color: #023E6F;
  border: 0.5px solid;
  resize: none;
  min-height: 80px;
  overflow: hidden;
  text-shadow: none;
  vertical-align: top;
  width: 700px;
  border-radius: 6px 6px 0px 0px;
  text-align: left;
  margin: 0;
  outline: 0;
  background-color: #fff;
  -webkit-line-break: after-white-space;
  direction: ltr;
  unicode-bidi: embed;
}

/* Sets ask anonymously checkbox and label to the left of the ask-questions box */
.question-extras
{
  float: left;
  top: 7px;
  font-size: 14px;
  position: relative;
  border-radius: 4px;
}

/* Sets padding and indentation for ask anonymously feature in Home */
.hide-completed, .private
{
    display: inline-block;;
    padding-left: 20px;
    padding-right: 15px;
    text-indent: -15px;
    color: #fff;
}

/* Sets format for Ask Anonymously label */
.anonymous-blurb
{
    width: 13px;
    height: 13px;
    padding: 5px;
    vertical-align: bottom;
    position: relative;
    top: 0px;
    left: -20px;
    *overflow: hidden;
    float: left;
}

/* Sets position of ask button within the ask-question box */
.ask-button
{
  float: right;
}

/* Styling for Ask button in Home. Based on twitter's tweett button */
#question-submit
{
background-color: #023E6F;
background-size: auto;
border-bottom-color: rgba(0, 0, 0, 0);
border-radius: 4px;
border-bottom-style: solid;
border-left-color: rgba(0, 0, 0, 0);
border-left-style: solid;
border-left-width: 0px;
border-right-color: rgba(0, 0, 0, 0);
border-right-style: solid;
border-right-width: 0px;
border-top-color: rgba(0, 0, 0, 0);
border-top-style: solid;
border-top-width: 0px;
box-shadow: none;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline-block;
font-family: "Open Sans","Raleway",Lucida Sans Unicode,Verdana,Helvetica,sans-serif;
font-size: 15px;
height: 30px;
vertical-align: center;
padding-bottom: 8px;
padding-left: 17px;
padding-right: 16px;
padding-top: 4px;
position: relative;
text-align: center;
width: 96px;
}

/* Adds glow and changes background of ask button on hover */
#question-submit:hover
{
  -webkit-stroke-width: 6px; /* Chrome and Safari support */
  -webkit-stroke-color: #FFFFFF; /* Chrome and Safari support */
  -webkit-fill-color: #FFFFFF; /* Chrome and Safari support */
  -moz-stroke-width: 6px; /* Mozilla support */
  -moz-stroke-color: #FFFFFF; /* Mozilla support */
  -moz-fill-color: #FFFFFF; /* Mozilla support */
  -o-stroke-width: 6px; /* Opera support */
  -o-stroke-color: #FFFFFF; /* Opera support */
  -o-fill-color: #FFFFFF; /* Opera support */
  stroke-width: 6px; /* Standard support */
  stroke-color: #FFFFFF; /* Standard support */
  fill-color: #FFFFFF; /* Standard support */
  text-shadow: 1px 0px 20px #FFFFFF;
  color: #FFFFFF;
}

/* Changes background of ask button on click */
#question-submit:active
{
  background: #55acee;
  outline: none;
}
/* question feed heading */
.question-feed
{
  position: relative;
  left: 40px;
  width: 724px;
  background: #fff;
  text-align: center;
  font-family: "flood-std";
  font-size: 3em;
}

/* Sets position in screen for question boxes */
.question-container
{
  position: absolute;
  margin-left: 0px;
  list-style: none;
  display: block;
  top: 151px;
  left: 31px;
}

/* Eliminates list tag in question boxes */
.question-items
{
  list-style: none;
}

/* Question box formatting */
.question-cascade
{
  z-index: 100;
  border: 1px solid #e1e8ed;
  background-color: #fff;
  width: 724px; 
  position: relative;
  min-height: 51px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  text-align: start;
  border-spacing: 4px;
  list-style: none;
}

/* Margins for name subsection inside question box */
#upper-part
{
  z-index: 902;
  border-bottom: 1px solid #e1e8ed;
  padding-bottom: 5px;
}

/* Margins for text subsection inside question box */
#middle-part
{
  margin-top: -8px;
  min-height: 40px;
  height: auto;
}

/* Margins for answer subsection inside question box */
#answer-link
{
  margin-top: -14px;
  padding-top: 4px;
  border-top: 1px solid #e1e8ed;
  width: 595px;
  margin-bottom: 22px;
}

/* Text-box formatting for questions */
.text
{
  white-space: pre-wrap;
  word-wrap: break-word;
  vertical-align: top;
}

/* Basic styling for edit button */
.edit
{
  color: #ccd6dd;
  float: right;
  margin-top: 1px;
  transition: 0.4s;
  display: block;
  height: 12px;
  width: 12px;
}

/* Formatting for answer button */
.answers-button
{
  background-color: #fff;
  border-radius: 6px;
  border-color: transparent;
  color: #23527c;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  vertical-align: center;
  position: relative;
  text-align: center;
  float: left;
  left: -8px;
  height: 25px;
  padding-right: 2px;
  padding-left: 2px;
  margin-left: 5px;
  margin-top: -1px;
  padding-top: 2px;
  text-decoration: none;
  transition: 0.4s;
}

/* Changes answers button background on hover */
.answers-button:hover
{
  background: #55acee;
  color: #fff;
  text-decoration: none;
}

/* Changes answers button background when clicked */
.answers-button:active
{
  background: #023E6F;
  color: #fff;
  text-decoration: none;
}

/* Sets the display of contents in the answer page */
.answer-page
{
  height: auto;
  width: 100%;
  position: absolute;
  z-index: 950;
  overflow-x: hidden;
  top: 60px;
}

/* Sets all contents to the middle of the page */
.answer-page-content
{
  position: relative;
  float: left;
  left: 25%;
}

/* Sets the width of the question frame */
.question-frame
{
  border: 3px solid rgb(191, 224, 236);
  border-radius: 6px;
  width: 729px;
}

/* sETS THE BACKGROUND IN THE ANSWER PAGE */
#answer-page-background
{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  background: url("/img/answer-background.jpg");
  background-position: 50% 50%;
  z-index: 50;
  overflow-x: hidden;
  background-size: cover;
}

/* Styling for the box that contains the answer list */
.comment-stream
{
  z-index: 100;
  border: 1px solid #027EAF;
  background-color: #027EAF;
  width: 724px;
  top: 10px;
  position: relative;
  min-height: 51px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  text-align: start;
  border-spacing: 4px;
  list-style: none;
  word-wrap: break-word;
  border-radius: 6px;
  left: 2px;
} 

/* Padding, alignment and background for the answer list */
.answers-list
{
  border: 1px solid #e1e8ed;
  background-color: #fff;
  width: 712px; 
  position: relative;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: start;
  border-spacing: 4px;
  list-style: none;
  margin-left: -7px;
  height: auto;
}

#top-answered-box
{
  border-bottom: 1px solid #e1e8ed;
  padding-bottom: 3px;
}

/* Upvote button format */
/* thumbs up and down icons adjustment */
.fa-thumbs-up
{
  margin-right: 3px;
}
.fa-thumbs-o-up
{
  margin-right: 3px;
}


.upvote
{
  background-color: transparent;
  border-color: transparent;
  color: #337AB7;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  vertical-align: center;
  position: relative;
  top: -2px;
  right: 1px;
  text-align: center;
  float: right;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;
  padding-top: 3px;
  transition: 0.4s;
}

/* Format of upvote button on mouse hover */
.upvote:hover
{
  color: #204d74;
  background-color: transparent;
  border-color: transparent;
}

/* Formatting for clicked upvoted button */
.upvote.btn.btn-default.disabled
{
  background-color: transparent;
  border-color: transparent;
  color: #23527c;
}

/* Font size for author */
.author
{
  font-size: 16px;
}

/* Font and color for date of submission */
.date
{
  font-size: 12px;
  color: #bcc6cd;
}
/* verified icon adjustments */
.fa-check-square
{
  padding-left: 5px;
  color: #55ACEE;
}

/* Sets the width of the form that contains the answer box */
.form-answer
{
  top: 4px;
  width: 724px;
}

/* Sets the margins of the answer label */
.answer-box-label
{
  margin-left: 5px;
  margin-top: 15px;
}

/* Sets format for answer button */
#submit-answer-button
{
  margin-bottom: 60px;
  background-color: #027EAF;;
  background-size: auto;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  border-bottom-style: solid;
  border-left-color: rgba(0, 0, 0, 0);
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-style: solid;
  border-top-width: 0px;
  box-shadow: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/* Glow effect for answer submit button on hover */
#submit-answer-button:hover
{
  -webkit-stroke-width: 6px; /* Chrome and Safari support */
  -webkit-stroke-color: #FFFFFF; /* Chrome and Safari support */
  -webkit-fill-color: #FFFFFF; /* Chrome and Safari support */
  -moz-stroke-width: 6px; /* Mozilla support */
  -moz-stroke-color: #FFFFFF; /* Mozilla support */
  -moz-fill-color: #FFFFFF; /* Mozilla support */
  -o-stroke-width: 6px; /* Opera support */
  -o-stroke-color: #FFFFFF; /* Opera support */
  -o-fill-color: #FFFFFF; /* Opera support */
  stroke-width: 6px; /* Standard support */
  stroke-color: #FFFFFF; /* Standard support */
  fill-color: #FFFFFF; /* Standard support */
  text-shadow: 1px 0px 20px #FFFFFF;
  color: #FFFFFF;
}

/* Sets format for answer button on click */
#submit-answer-button:active
{
  background: #55acee;
}

/* Sets margins in the answer box */
.comment-form
{
    margin-top: 30px;
    height: 300px;
    margin-left: 3px;
}

/*page titles for My Quetions and Unanswered pages */
.page-title
{
  background-color: #3071A9;
  width: 724px;
  padding: 20px;
  color: white;
  text-align: center;
  font-family: "flood-std";
  font-size: 2.5em;
  border-radius: 10px 10px 0 0;
}

